<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">

    <!-- 푸따 -->
    <footer>
        <div class="container">
            <!-- info start -->
            <section class="info">
                <section>
                    <section class="info__company">
                        <div>대표 홍길동 사업자번호 000-00-00000</div>
                        <div><b>직업정보제공사업 신고번호</b> 2016-서울서초-0051</div>
                        <address class="_1trxeqsd">
                            <div><b>주소</b> 서울특별시 수박구 수박로 수박수박</div>
                            <div><span><b>전화</b> 1234-5678</span><span><b> 고객문의</b> <!-- -->subak@subak.com</span>
                            </div>
                        </address>
                    </section>
                    <section class="info__ask">
                        <a>제휴 문의</a>
                        <a>광고 문의</a>
                        <a>PR 문의</a>
                        <a>IR 문의</a>
                    </section>
                    <section>
                        <a>이용약관</a>
                        <a>개인정보처리방침</a>
                        <a>위치기반서비스 이용약관</a>
                        <a>이용자보호 비전과 계획</a>
                    </section>
                </section>
            </section>
            <!-- info end -->
        </div>
    </footer>

</th:block>