<html  xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/inc/header::headerFragment"/>

<link rel="stylesheet" th:href="@{/css/register.css}">

<div class="container shadow-sm w-50 p-5 rounded h-100" style="hmargin-bottom: 100px">
  <form class="form-join" >
    <div class="form-group member">

      <h2 class="d-block ms-5" style="margin-bottom: 20px">관리자 회원가입</h2>

      <div class="field">
        <b>아이디</b>
        <span class="placehold-text"><input type="text" name="userId" id="userId"></span>
      </div>
      <div class="field">
        <b>비밀번호</b>
        <input class="userpw" type="password" name="userPw" id="userPw">
      </div>
      <div class="field">
        <b>이름</b>
        <input type="text" name="userName" id="userName">
      </div>

      <!-- 3. 필드(성별) -->
      <div class="field gender">
        <b>성별</b>
          <select class="form-control" id="userGender" name="userGender">
            <option value="none">성별</option>
            <option value="male">남자</option>
            <option value="female">여자</option>
          </select>
      </div>

      <!-- 4. 이메일 -->
      <div class="field">
        <b>이메일<small></small></b>
        <input type="email" name="userEmail" id="userEmail">
      </div>

      <!-- 5. 전화번호 -->
      <div class="field">
        <b>전화번호<small></small></b>
        <input type="text" name="userTel" id="userTel">
      </div>

<!--      &lt;!&ndash; 5. 가입하기 버튼 &ndash;&gt;-->
<!--      <input id="btn-save" type="submit" value="가입하기">-->

    </div>
  </form>
<div class="d-flex justify-content-center">
  <button id="btn-save" class="btn btn-success btn-lg m-5">가입하기</button>
</div>

</div>
<script src="/js/admin.js"></script>
<!-- 푸터 -->
<th:block th:replace="/inc/footer::footerFragment"/>
</body>
</html>