<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="/inc/header::headerFragment"/>

<section class="containers">
  <div class="login-modal">
    <div class="login">
      <h1>로그인</h1>
      <input type="text" name="id" id="id" placeholder="아이디">
      <input type="password" name="password" id="password" placeholder=" 비밀번호">
<!--      <input type="submit" value="로그인">-->
      <input type="submit" id="btn-login" class="btn btn-success btn-lg" value="로그인"></input>
      <div class="save-info">
        <label class="a">
          <input type="checkbox"> 자동 로그인
        </label>
        <label class="b">
          <input type="checkbox"> 이메일
          <input type="checkbox"> 비밀번호
        </label>
      </div>
    </div>
  </div>
</section>
<script src="/js/login.js"></script>
<th:block th:replace="/inc/footer::footerFragment"/>

</body>
</html>